In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from kmodes.kmodes import KModes
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import sklearn
from sklearn import svm
from sklearn.preprocessing import PowerTransformer
from sklearn.datasets import load_digits
from sklearn.preprocessing import StandardScaler
%matplotlib inline
import keras
from keras.layers import Embedding
from random import randrange

In [6]:
df2 = pd.read_csv("ks-projects-201801.csv", sep=",", header=None, engine='python')

In [7]:
header = df2.iloc[0]
# take the rest of your data minus the header row
df2 = df2[1:]
# set the header row as the df header
df2.columns = header
# pd.set_option('display.max_rows', 7500)
# pd.set_option('display.max_columns', 106)
df2.head(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real
1,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015,1000,8/11/2015 12:12,0,failed,0,GB,0,0,1533.95
2,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,11/1/2017,30000,9/2/2017 4:43,2421,failed,15,US,100,2421,30000
3,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013,45000,1/12/2013 0:20,220,failed,3,US,220,220,45000
4,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012,5000,3/17/2012 3:24,1,failed,1,US,1,1,5000
5,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015,19500,7/4/2015 8:35,1283,canceled,14,US,1283,1283,19500

In [4]:
df2.isnull().sum()

0
ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd_pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [5]:
df2 = df2.dropna(axis=0)
#df3.head(5)

In [6]:
# Cleaning Check
df2.isnull().sum()

0
ID                  0
name                0
category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd_pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

In [7]:
# Clustering with K-Modes

In [8]:
data = df2

# model
km = KModes(n_clusters=5, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(data)

# Print the results of clustering centroids
print(km.cluster_centroids_)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 69569, cost: 4162082.0
Run 1, iteration: 2/100, moves: 1263, cost: 4162081.0
Run 1, iteration: 3/100, moves: 0, cost: 4162081.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 34534, cost: 4203337.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 39843, cost: 4214118.0
Run 3, iteration: 2/100, moves: 5036, cost: 4214118.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 47860, cost: 4191117.0
Run 4, iteration: 2/100, moves: 1522, cost: 4191117.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 150009, cost: 4214134.0
Run 5, iteration: 2/100, moves: 427, cost: 4214134.0
Best run was number 1
[['1000002330' '#NAME?' 'Product Design' 'Film & Video' 'USD' '8/8/2014'
  '5000' '7/11/2014 21:15' '0' 'failed' '0' 'US' '0' '0' '5000']
 ['1000014025' 'Pasta Salad' 'Food' 'Food' 'USD' '8/8/2014' '15000'
  '1/23/2015 19:35' '0' 'failed' '0' 'US' '0' '0' '15000']
 ['100005484' '#NAME?' 'Tabletop Games' 'Music' 'USD' '7/1/2015' '500'
  '6/20/2017 16:00' '500' 'successful' '19' 'US' '0' '500' '500']
 ['1000011046' '#NAME?' 'Documentary' 'Film & Video' 'USD' '11/1/2013'
  '10000' '11/13/2013 0:03' '50' 'successful' '2' 'US' '50' '50' '10000']
 ['1000007540' 'New EP/Music Development' 'Fiction' 'Publishing' 'USD'
  '8/10/2014' '10000' '1/29/2013 23:29' '1' 'failed' '1' 'US' '1' '1'
  '10000']]